<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/appMascotas/">


    <link rel="stylesheet" href="modulos/angular-ui-switch/angular-ui-switch.css">
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="modulos/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!--JQUERY-->
    <script type="text/javascript" src="assets/js/jquery-3.1.1.min.js"></script>
    
    <!--MATERIALIZE-->
    
    <script src="assets/js/materialize.min.js"></script>

    <!-- MAPS -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD3rv58fVm8h5McUzT9wrG6J7lQFw_J7Uk"></script>

    <!--Librerias core de angualarJS -->
    <script src="modulos/angular/angular.min.js"></script>
    <script src="modulos/angular-messages/angular-messages.min.js"></script>
    <script src="modulos/angular-animate/angular-animate.min.js"></script>
    <script src="modulos/angular-aria/angular-aria.min.js"></script>
    <script src="modulos/angular-aria/angular-aria.min.js"></script>
    <script src="modulos/angular-ui-switch/angular-ui-switch.js"></script>
    <script src="modulos/angular-google-maps/build/scripts/ng-map.min.js"></script>
    <script src="modulos/angular-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="modulos/angular-file-upload/ng-file-upload.min.js"></script>



    <!--Librerias 3r party angularJS -->
    <script src="modulos/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="modulos/angular-material/angular-material.min.js"></script>
    <script src="modulos/angular-materialize/angular-materialize.min.js"></script>


    <!--Archivos App -->
    <script src="app/app.js"></script>
    <script src="app/services.js"></script>
    <script src="app/directives.js"></script>


    <!-- Controladores -->
    <script src="app/controllers/activarAlerta.js"></script>
    <script src="app/controllers/desactivarAlerta.js"></script>
    <script src="app/controllers/header.js"></script>
    <script src="app/controllers/admin.js"></script>
    <script src="app/controllers/landing.js"></script>
    <script src="app/controllers/mascotaPerdida.js"></script>
    <script src="app/controllers/mascotasPerdidas.js"></script>
    <script src="app/controllers/mascotasPerdidasIndividual.js"></script>
    <script src="app/controllers/misMascotas.js"></script>
    <script src="app/controllers/misMascotasIndividual.js"></script>
    <script src="app/controllers/misMascotasEditar.js"></script>
    <script src="app/controllers/misMascotasPlaca.js"></script>
    <script src="app/controllers/misMascotasNueva.js"></script>
    <script src="app/controllers/misMascotasEliminar.js"></script>
    <script src="app/controllers/perfil.js"></script>
    <script src="app/controllers/miPerfil.js"></script>
    <script src="app/controllers/placa.js"></script>
    <script src="app/controllers/login.js"></script>
    <script src="app/controllers/registro.js"></script>
    <script src="app/controllers/confirmar.js"></script>
    <script src="app/controllers/cambiarContrasena.js"></script>
    <script src="app/controllers/recordarUsuario.js"></script>
    <script src="app/controllers/eliminarCuenta.js"></script>
    <script src="app/controllers/eliminarCuentaPublico.js"></script>
</head>

<body ng-app="mascotas">
    <header ng-controller="headerController as header">
        <div class="contenedor-logo col s6 m3">
            <div>
                <a href="http://www.dinbeat.com/">
                    <img src="assets/images/logo/logo_dinbeat.svg">
                </a>
            </div>
        </div><!--


     --><div class="contenedor-navbar col s6 m9" ng-mouseleave="header.hmenuMostrar=false" show-gt-sm>

            <div>
                <a href="http://www.dinbeat.com/proyecto-wearable/">Proyecto</a>
                <a ui-sref="landing">Placas QR</a>
                <a href="#">Tienda</a>
                <a href="http://www.dinbeat.com/sobre-nosotros/">Sobre nosotros</a>
                <a href="http://www.dinbeat.com/blog/">Blog</a>

                <div ng-switch="header.autorizado" class="login-contenedor">
                    <a ng-switch-when="false" ng-click="header.menuMostrar()" class="c2 nombre-usuario" ui-sref="login">Iniciar Sesión</a>

                    <a ng-mouseenter="header.hmenuMostrar=true" class="c2 nombre-usuario" ui-sref="perfil.miPerfil" ng-switch-default>{{header.autorizado.dueno.nombre}} {{header.autorizado.dueno.apellido}}
                    </a>
                    <div ng-switch-default ng-show="header.hmenuMostrar" class="cerrar-sesion c2 nombre-usuario" ng-click="header.salir()">
                        Cerrar sesion

                    </div>

                </div>

            </div>
        </div><!--

     --><div class="contenedor-navbar-mobile" hide-gt-sm>
            <label ng-click="header.toggleLeft()" class="burguer-menu">
                <img src="assets/images/icons/burguer-menu.png">
            </label>
        </div>

        <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4" hide-gt-sm>

            <md-content layout-padding>
                <ul class="contenedor-navbar-mobile">
                    
                    <li>
                        <a href="http://www.dinbeat.com/proyecto-wearable/" ng-click="header.close()">Proyecto</a>
                    </li>
                    <li>
                        <a ui-sref="landing" ng-click="header.close()">Placas QR</a>
                    </li>
                    <li>
                        <a href="#" ng-click="header.close()">Tienda</a>
                    </li>
                    <li>
                        <a href="http://www.dinbeat.com/sobre-nosotros/" ng-click="header.close()">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="http://www.dinbeat.com/blog/" ng-click="header.close()">Blog</a>
                    </li>
                    <li ng-click="header.close()">
                            <a ng-if="!header.autorizado" ng-click="header.menuMostrar()" class="c2 nombre-usuario" ui-sref="login">Iniciar Sesión</a>

                            <a ng-if="header.autorizado" class="c2 nombre-usuario" ui-sref="perfil.miPerfil">{{header.autorizado.dueno.nombre}} {{header.autorizado.dueno.apellido}}
                            </a>

                    </li>
                    <li ng-if="header.autorizado" ng-click="header.close()">
                        <a href="#" ng-click="header.salir()">
                            Cerrar sesion</a>
                    </li>
                </ul>

            </md-content>
        </md-sidenav>

    </header>

    <div class="fondo-blanco" ui-view>

    </div>
    <footer>

    </footer>

    <!---- Directiva de pasos ---->
    <script type="text/ng-template" id="cdx.pasos.html">
        <div class="datos">
            <div>
                <div ng-class="{activo: pasos[1]}">1</div>
                <div>Tus datos</div>
            </div>
            <div>
                <div ng-class="{activo: pasos[2]}">2</div>
                <div>Tu mascota</div>
            </div>
            <div>
                <div ng-class="{activo: pasos[3]}">3</div>
                <div>Tu placa QR</div>
            </div>
            <div>
                <div ng-class="{activo: pasos[4]}">4</div>
                <div>Información de contacto</div>
            </div>
            <div>
                <div ng-class="{activo: pasos[5]}">5</div>
                <div>¡Listo!</div>
            </div>
        </div>
        <div class="barra">
            <div>
                <div ng-class="{activo: pasos[2]}"></div>
            </div>
            <div>
                <div ng-class="{activo: pasos[3]}"></div>
            </div>
            <div>
                <div ng-class="{activo: pasos[4]}"></div>
            </div>
            <div>
                <div ng-class="{activo: pasos[5]}"></div>
            </div>
        </div>
    </script>

    <!--- directiva de formas --->
    <script type="text/ng-template" id="cdx.formas.html">

        <div ng-repeat="forma in formas">
            <img ng-src="{{forma.url.visible}}" ng-click="seleccionar($index)">
        </div>

    </script>


    <!--- directiva de modelos --->
    <script type="text/ng-template" id="cdx.modelos.html">

        <div ng-init="cdx.salto = 0">
            <img src="assets/images/forms/left.png" ng-click="avanzar(cdx.salto,false, modelos[seleccionado].length, (modelos[seleccionado] | limitTo: 6 : cdx.salto - 1).length )">
            <div ng-repeat="modelo in modelos[seleccionado] | limitTo: 6 : cdx.salto" ng-click="seleccionar($index + cdx.salto, seleccionado)">
                <label for="{{modelo.idModelo}}">
                    <img ng-src="{{misMascotas.apiDir.dominio}}{{misMascotas.apiDir.path}}{{misMascotas.apiDir.imagenes.corbatas}}{{seleccionado}}/{{modelo.modelo}}" ng-class="{'activo': modelo.activo}">
                    <input ng-model="$parent.valorCorbata" type="radio" id="{{modelo.idModelo}}" name="placa" ng-value="modelo.idModelo" ng-change="actualizar()">
                </label>
            </div>
            <img src="assets/images/forms/right.png" ng-click="avanzar(cdx.salto,true, modelos[seleccionado].length, (modelos[seleccionado] | limitTo: 6 : cdx.salto  + 1).length)">
        </div>

    </script>

    <script type="text/ng-template" id="cdx.encontreMascotaModal.html">
        <div class="row margin-in">
            <div class="col s12 center-align">
                <h4 class="titulo2 negrita interlineado20 c2">¿Has encontrado una mascota?</h4>
                <div class="center-align">Por favor introduce el ID de su placa</div>
                <div class="margin-bottom-30">
                    <div class="input-formulario">
                        <input ng-model="idPlaca" placeholder="ID de la placa" type="text" />
                    </div>
                </div>
                <button class="boton-verde" ui-sref="placa({idPlaca: idPlaca})" ng-click="cerrarModal()">ENCONTRAR DUEÑO</button>
            </div>
        </div>
    </script>


</body>




</html>
