/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------ 320px X 480px ---------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.globitos {
    	height: 280px;
    	width: 280px;
    	margin: auto auto 20px auto;
    	float: none !important;
	}
	.contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }
    .como-funciona {
    	height: auto !important;
	}

    .contenedor-navbar{
        display: none
    }

    /*.ondas {
        top: 1px;
        margin-top: -58px;
    }*/

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 320px X 568px and 568px X 320px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .contenedor-navbar{
        display: none
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */

    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 320px X 640px and 640px X 320px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;

    }
    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        top: 1px;
        margin-top: -100px;
    }*/

    .contenedor-navbar{
        display: none
    }

    header .contenedor-logo {
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .inicio {
        background-size: auto 95%;
        background-position: 36% bottom; 
    }

    .como-empezar .titulo2 {
        height: 60px;
    }

    .como-empezar .parrafo {
        height: 120px;
    }

    .img-perrogato {
        bottom: -16%;
    }
    .contenedor-navbar{
        display: none
    }
     .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }   
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .contenedor-navbar{
        display: none
    }

    .como-funciona {
        height: auto !important;
    }

    .contenedor-navbar{
        display: none
    }

    /*.ondas {
        top: 1px;
        margin-top: -51px;
    }*/

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .divider.responsive {
        margin-bottom: 20px;
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }
    .como-funciona {
        height: auto !important;
    }

    .contenedor-navbar{
        display: none
    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    .contenedor-navbar{
        display: none
    }

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 320px X 640px and 640px X 320px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    .contenedor-navbar{
        display: none
    }

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    .contenedor-navbar{
        display: none
    }

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 375px X 667px and 667px X 375px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }
    .como-funciona {
        height: auto !important;
    }

    .contenedor-navbar{
        display: none
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 412px X 732px and 732px X 412px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 412px) and (max-device-width: 732px) and (orientation : landscape){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 120px;
    }
    /*.ondas {
        margin-top: -115px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}
@media only screen and (min-device-width: 412px) and (max-device-width: 732px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }
    /*.ondas {
        margin-top: -102px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 414px X 737px and 737px X 414px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 737px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }
    /*.ondas {
        margin-top: -142px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 737px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }
    /*.ondas {
        margin-top: -142px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 414px X 736px and 736px X 414px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 737px) and (orientation : landscape){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 120px;
    }
    /*.ondas {
        margin-top: -120px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile, md-sidenav {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}



/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 768px X 1024px and 1024px X 768px---------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	.contenido-iphone {
        margin-bottom: 100px;
        height: 450px;
        width: 230px;

    }
    .como-funciona {
    	height: auto !important;
	}

    header .contenedor-navbar-mobile, md-sidenav {
        display: none;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }
    /*.ondas {
        margin-top: -101px;
    }*/
    .como-empezar .parrafo {
        height: 120px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-navbar-mobile, md-sidenav {
        display: none;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
        .como-funciona {
        height: auto !important;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------------------- 800px X 1200px ---------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

@media only screen and (min-device-width : 800px) and (orientation : portrait) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }

    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        margin-top: -142px;
    }*/

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-navbar-mobile, md-sidenav {
        display: none;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }
}


