/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------ 320px X 480px ---------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.globitos {
    	height: 280px;
    	width: 280px;
    	margin: auto auto 20px auto;
    	float: none !important;
	}

    .opcion-menu {
        width: 34%;
    }


    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    #footer-widgets {
        padding: 2% 0 0;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    #hiddeninmobile > section{
        overflow: hidden;
    }

	.contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }
    .como-funciona {
        height: auto !important;
        background-size: auto 100%;

    }


    .contenedor-modelos{
        width: 195px;
    }


    .contenedor-navbar{
        display: none
    }

    /*.ondas {
        top: 1px;
        margin-top: -58px;
    }*/

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        padding: 20px 0;
        background-image: none;
    }


    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }

}

@media only screen and (min-width: 412px) and (max-width: 732px) and (orientation : portrait) and (max-aspect-ratio: 13/9) {
    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }

    #footer-widgets {
        padding: 2% 0 0;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

}

@media only screen and (min-width: 412px) and (max-width: 732px) and (orientation : landscape) {
    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login {
        background-size: 170% 73%;
        background-position: center 52%;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }

    #footer-widgets {
        padding: 2% 0 0;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

}

@media only screen and (max-width : 767px){
    header .contenedor-navbar {
        display: none;
    }
}



/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 320px X 568px and 568px X 320px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .contenedor-navbar{
        display: none
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }


    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .contenedor-modelos{
        width: 300px;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }

    .login .linea-media{
        left: 0;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        position: absolute;
        z-index: 10;
        left: calc(50% - 18px);
    }

    .login .linea-media .uno, .login .linea-media .tres{
        margin: 0 auto;
        height: 200px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }

}
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */

    .contenedor-navbar{
        display: none
    }

    .contenedor-modelos{
        width: 200px;
    }

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .divider.responsive {
        margin-bottom: 20px;
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        padding: 20px 0;
        background-image: none;
    }


    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 320px X 640px and 640px X 320px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-width: 320px) and (max-width: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;

    }
    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        top: 1px;
        margin-top: -100px;
    }*/

    .contenedor-modelos{
        width: 395px;
    }

    .contenedor-navbar{
        display: none
    }

    header .contenedor-logo {
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .inicio {
        background-size: auto 95%;
        background-position: 36% bottom; 
    }

    .como-empezar .titulo2 {
        height: 60px;
    }

    .como-empezar .parrafo {
        height: 120px;
    }

    .img-perrogato {
        bottom: -16%;
    }
    .contenedor-navbar{
        display: none
    }
     .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }   

    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }

.login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .contenedor-navbar{
        display: none
    }


    .como-funciona {
        height: auto !important;
        background-size: auto 100%;

    }

    .contenedor-navbar{
        display: none
    }

    /*.ondas {
        top: 1px;
        margin-top: -51px;
    }*/

    .contenedor-modelos{
           width: 195px;
    }


    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .divider.responsive {
        margin-bottom: 20px;
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        padding: 20px 0;
        background-image: none;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }
    .como-funciona {
        height: auto !important;
    }

    .contenedor-navbar{
        display: none
    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }

    .login .linea-media{
        left: 0;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        position: absolute;
        z-index: 10;
        left: calc(50% - 18px);
    }

    .login .linea-media .uno, .login .linea-media .tres{
        margin: 0 auto;
        height: 200px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }
    
    .cdx-pasos .datos>div>div {   
        font-size: 9px;
    }


    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    .contenedor-navbar{
        display: none
    }

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }


    .login {
        padding: 20px 0;
        background-image: none;
    }
    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }



}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 320px X 640px and 640px X 320px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    .contenedor-navbar{
        display: none
    }

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }
    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }
    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }



}
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
        background-size: auto 100%;

    }

    /*.ondas {
        top: 1px;
        margin-top: -62px;
    }*/

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .contenedor-navbar{
        display: none
    }

    .inicio {
        background-size: auto 82%;
        background-position: 32% 101%;  
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }


    .login {
        padding: 20px 0;
        background-image: none;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }


}




/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 375px X 667px and 667px X 375px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 6 ----------- */
@media only screen and (min-width: 374px) and (max-width: 668px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }
    .como-funciona {
        height: auto !important;
    }

    .contenedor-navbar{
        display: none
    }

    .opcion-menu {
        width: 30%;
    } 

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 166% 74%;
        background-position: center 49%;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
    #footer-widgets {
        padding: 2% 0 0;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}
@media only screen and (min-width: 374px) and (max-width: 668px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .opcion-menu {
        width: 30%;
    }   

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }
    #footer-widgets {
        padding: 2% 0 0;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    .como-funciona {
        height: auto !important;
    }

    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        padding: 20px 0;
        background-image: none;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 412px X 732px and 732px X 412px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 6 ----------- */
@media only screen and (min-width: 412px) and (max-width: 732px) and (orientation : landscape) and (max-aspect-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .opcion-menu {
        width: 30%;
    } 

    .contenedor-modelos{
        width: 395px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 120px;
    }
    /*.ondas {
        margin-top: -115px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }


    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }
    .login .linea-media{
        left: 0;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        position: absolute;
        z-index: 10;
        left: calc(50% - 18px);
    }

    .login .linea-media .uno, .login .linea-media .tres{
        margin: 0 auto;
        height: 200px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }
}
@media only screen and (min-width: 412px) and (max-width: 732px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .opcion-menu {
        width: 30%;
    } 

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }
    /*.ondas {
        margin-top: -102px;
    }*/

    #footer-widgets {
        padding: 2% 0 0;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }

}


@media only screen and (min-width: 412px) and (max-width: 732px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .opcion-menu {
        width: 30%;
    } 

    .contenedor-modelos{
        width: 395px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 120px;
    }
    /*.ondas {
        margin-top: -115px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }


    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }
    .login .linea-media{
        left: 0;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        position: absolute;
        z-index: 10;
        left: calc(50% - 18px);
    }

    .login .linea-media .uno, .login .linea-media .tres{
        margin: 0 auto;
        height: 200px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }
}
@media only screen and (min-width: 412px) and (max-width: 732px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3){
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .opcion-menu {
        width: 30%;
    } 

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }
    /*.ondas {
        margin-top: -102px;
    }*/

    #footer-widgets {
        padding: 2% 0 0;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }
    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }

}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 414px X 737px and 737px X 414px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPhone 6+ ----------- */
@media only screen and (min-width: 414px) and (max-width: 737px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3)  {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .opcion-menu {
        width: 24%;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }
    /*.ondas {
        margin-top: -142px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }


    .login {
        background-size: 170% 73%;
        background-position: center 52%;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}
@media only screen and (min-width: 414px) and (max-width: 737px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) and (-webkit-device-pixel-ratio : 3)  {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    cdx-pasos .datos>div>div {   
        font-size: 9px;
    }

    .como-empezar .parrafo {
        height: 100px;
    }
    /*.ondas {
        margin-top: -142px;
    }*/

    .como-funciona {
        height: auto !important;
    }
    .contenedor-navbar{
        display: none
    }

    .divider.responsive {
        margin-bottom: 20px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-logo {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding-left: 10px; 
    }

    header .contenedor-navbar-mobile {
        width: 49%;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }


    .login {
        padding: 20px 0;
        background-image: none;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 414px X 736px and 736px X 414px-----------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/



/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------- 768px X 1024px and 1024px X 768px---------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

    .login .linea-media{
        left: 0;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        position: absolute;
        z-index: 10;
        left: calc(50% - 18px);
    }

    .login .linea-media .uno, .login .linea-media .tres{
        margin: 0 auto;
        height: 200px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

	.contenido-iphone {
        margin-bottom: 100px;
        height: 450px;
        width: 230px;

    }
    .como-funciona {
    	height: auto !important;
	}

    header .contenedor-navbar-mobile, md-sidenav {
        display: none;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }

    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }




    .login .linea-media{
        left: 0;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        position: absolute;
        z-index: 10;
        left: calc(50% - 18px);
    }

    .login .linea-media .uno, .login .linea-media .tres{
        margin: 0 auto;
        height: 200px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }
    /*.ondas {
        margin-top: -101px;
    }*/
    .como-empezar .parrafo {
        height: 120px;
    }

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-navbar-mobile, md-sidenav {
        display: none;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 160% 70%;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}

/**********
iPad 3
**********/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 168% 73%;
        background-position: center 47%;
    }
    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
        .como-funciona {
        height: auto !important;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

        .login {
        background-size: 160% 70%;
    }
}

@media only screen and (min-width : 600px) and (max-width : 1024px) and (orientation : portrait) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }


    .contenedor-modelos{
            width: 394px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }

    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        margin-top: -142px;
    }*/

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-navbar-mobile, md-sidenav {
        display: none;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 175% 76%;
    }
}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*----------------------- 800px X 1200px ---------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

@media only screen and (min-width : 1024px) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;


    }
    .como-funciona {
        height: auto !important;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

        .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 166% 64%;
        background-position: center 56%;
    }

    .login .linea-media{
        left: 0;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 0 !important;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        position: absolute;
        z-index: 10;
        left: calc(50% - 18px);
    }

    .login .linea-media .uno, .login .linea-media .tres{
        margin: 0 auto;
        height: 200px;
    }

    .login .linea-media .tres div, .login .linea-media .uno div{
        width: 1px;
        background-color: #e5e5e5;
        height: 200px;
    }
}


@media only screen and (min-width : 800px) and (max-width : 1024px) and (orientation : portrait) {
    .globitos {
        height: 280px;
        width: 280px;
        margin: auto auto 20px auto;
        float: none !important;
    }
    .contenido-iphone {
        margin-bottom: 20px;
        height: 450px;
        width: 230px;
    }


    .contenedor-modelos{
        width: 520px;
    }

    .inicio {
        background-size: auto 80%;
        background-position: 32% 101%;
    }

    .como-empezar .parrafo {
        height: 100px;
    }

    .como-funciona {
        height: auto !important;
    }

    /*.ondas {
        margin-top: -142px;
    }*/

    .desactivar-alarma-perfil, .agregar-placa-perfil {
        margin-top: 20px;
    }

    header .contenedor-navbar-mobile, md-sidenav {
        display: none;
    }

    .menu-perfil {
        padding-left: 0px !important;
    }

    .login {
        background-size: 160% 70%;
    }

    .login .linea-media .uno, .login .linea-media .tres {
        margin: 0 auto;
        height: 2px;
        width: 48%;
    }

    .login .linea-media .tres div, .login .linea-media .uno div {
        width: 100%;
        background-color: #e5e5e5;
        height: 2px;
    }

    .login .linea-media {
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 13px 0 !important;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;
        flex-flow: row;
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        position: relative;
        left: 0;
    }
}


@media only screen and (min-width : 1280px) and (max-width : 2600px) and (orientation : landscape){
    img.editar-perfil{
        visibility: hidden;
        
    }
}

@media only screen and (min-width : 1450px) and (max-width : 2600px) and (orientation : landscape){
    .inicio {
        background-position: 100% 44%;
        background-size: 100% 260%;
    }
    .como-funciona {
        background-size: 100% 120%;
        background-position: 100% 90%;
    }
    .login{
        background-size: 100% 70%;
    }
}