@font-face {
    font-family: 'OpenSansR';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansL';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: 'OpenSansS';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'OpenSansB';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bolder;
}

body{ font-family: 'OpenSansR'; font-weight: normal; }

/* COLORES */
.color-blanco {
    color: white;
}


/* TAMAÑOS FUENTES */

.regular{ font-family: 'OpenSansR' !important; }
.light{ font-family: 'OpenSansL' !important; }
.semibold{ font-family: 'OpenSansS' !important; }
.bold{ font-family: 'OpenSansB' !important; }

.titulo1 {
    font-size: 18px;
}

.titulo2 {
    font-size: 22px;
}

.texto-pequeno {
    font-size: 12px;
}


/* INTERLINEADOS */

.interlineado14 {
    line-height: 14px;
}

.interlineado16 {
    line-height: 16px;
}

.interlineado20 {
    line-height: 20px;
}


/****** MISC ******/

.negrita {
    font-weight: bold !important;
}

.margin-auto {
    margin: auto;
}

.margin-in > div{ margin-bottom: 20px; }


/* ELEMENTOS */

.globitos {
    padding: 22px;
    background-color: rgba(89, 92, 139, 0.76);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    color: white
}

.boton-neutro {
    color: black;
    background-color: #FAFAFA;
    border: 1px solid #d2d1d1;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 35px;
}


.boton-neutro:hover{
    
    background-color: #7F7F7F;

}

.boton-neutro:focus{
    
    background-color: #9FA3A7:

}


.boton-verde {
    color: white;
    background-color: #B2DA9F;
    border: none;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 35px;
}


.boton-verde:hover{
    
    background-color: #A5CC93;
    
}

.boton-verde:focus{
    
    background-color: #C0EAAC;
}

.boton-verde-negativo {
    color: #B2DA9F;
    background-color: transparent;
    border: 2px solid #B2DA9F;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 35px;
}

.boton-verde-negativo:hover{
    
    border: 2px solid #A5CC93;
}

.boton-verde-negativo:focus{
    
    border: 2px solid #C0EAAC;
    background-color: transparent;
}


.ondas{
    
    position: relative;
    top: 1px;
    width: 100%;
    margin-top: -170px;
    
}

/* ELEMENTO FLOTAR */

.flotar-izquierda {
    float: left;
}

.flotar-derecha {
    float: right;
}


/* FORMULARIOS */

.campo-formulario {
    font-weight: bold;
}

.input-formulario>input {
    text-indent: 15px;
    background-color: rgba(247, 247, 247, 0.58);
    margin: 0px;
    border: 1px solid #d2d1d1;
}

.input-formulario>input:focus {
    border: 1px solid #26a69a;
    box-shadow: none !important;
}

.botones-formulario {
    display: flex;
    justify-content: space-around;
}

.condiciones-formulario {
    padding-top: 15px !important;
    border-top: 1px solid #d2d1d1;
}

.input-formulario>md-select {
    text-indent: 15px;
    background-color: rgba(247, 247, 247, 0.58);
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #d2d1d1;
}

.input-formulario>textarea {
    text-indent: 15px;
    background-color: rgba(247, 247, 247, 0.58);
    margin: 0px;
    border: 1px solid #d2d1d1;
    padding-top: 10px;
    height: 80px;
}


/* SECCIONES */

.inicio{
    
    background-image: url(../images/dinbeat_qr_home.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.como-funciona {
    background-image: url(../images/dinbeat_qr_como_funciona.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 40px;
}

.nuestras-placas {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.como-empezar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mascotas-perdidas {
    background-color: #43435B;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenido-iphone {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 450px;
    width: 250px;
    color: white;
    background-color: #595C8B;
}

.contenedor-perfil{
    
    margin-bottom: 0px;
}

.menu-perfil {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    height: 100%;
}


/*DIRECTIVES */

cdx-pasos .datos {
    display: flex;
    z-index: 2;
    position: relative;
}

cdx-pasos .datos>div {
    width: 20%;
}

cdx-pasos .datos>div>div {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

cdx-pasos .datos>div>div:first-child {
    width: 25px;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 12px;
    border-radius: 50%;
    background-color: #7aeeb1;
}

cdx-pasos .datos>div>div.activo:first-child {
    background-color: #3e4b94 !important;
}

cdx-pasos .barra {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -50px;
}

cdx-pasos .barra>div {
    height: 25px;
    width: 20%;
    display: flex;
    align-items: center;
}

cdx-pasos .barra>div>div {
    height: 2px;
    background: #7aeeb1;
    width: 100%;
}

cdx-pasos .barra>div>div.activo {
    background-color: #3e4b94 !important;
}

/*PALETA DE COLORES*/

.c1{ color: #43435b;}
.c2{ color: #595c8b;}
.c3{ color: #8084c0;}
.c4{ color: #B2DA9F;}
.c5{ color: #C0EAAC;}
.c6{ color: #A5CC93;}
.c7{ color: #333333;}
.c8{ color: #4A4A4A;}
.c9{ color: #7F7F7F;}
.c10{ color: #9FA3A7;}
.c11{ color: #FAFAFA;}
.c12{ color: #F8E81C;}
.c13{ color: #A2CDFF;}
.c14{ color: #F9593A;}
